<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>3D Viewer</title>

	<!-- Tailwind -->
	<script src="js/tailwindcss.js"></script>

	<!-- Vue -->
	<script src="js/vue.global.js"></script>

	<!-- Babylon -->
	<script src="js/babylon.js"></script>
	<script src="js/babylonjs.loaders.min.js"></script>
	<script src="js/babylon.gridMaterial.min.js"></script>
</head>

<body class="bg-zinc-600">

	<div id="app">

		<div class="grid grid-cols-4 gap-1 p-1">

			<div class="col-span-2 md:col-span-3">
				<div class="bg-zinc-700 w-full py-3 px-5 mb-1 text-white rounded-lg">
					<p>Trình xem 3D đời mới</p>
				</div>
				<canvas ref="canvas" class="w-full h-96 rounded-lg outline-none"></canvas>
			</div>

			<div class="col-span-2 md:col-span-1 bg-slate-50 border border-slate-200 p-3 rounded-lg">
				<div class="flex justify-between">

					<input type="color" v-model="color" class="w-10 h-10 rounded-lg  border-2 border-slate-200 cursor-pointer overflow-hidden [&::-webkit-color-swatch-wrapper]:p-0 [&::-webkit-color-swatch]:border-none [&::-webkit-color-swatch]:rounded-lg">

					<select v-model="GLBfileName" class="px-3 bg-green-100 rounded-xl outline-none">

						<option value="StarPlayer76X">StarPlayer76X</option>
						<option value="test">test</option>
						<option value="model">model</option>
						<option value="M Clifton 10">M Clifton 10</option>
					</select>

				</div>
				<button v-for="i in meshList" :key="i.id" @click="selectMesh(i.material)" :class="{'w-full p-1 my-1 text-sm text-left bg-teal-600 text-white rounded': select === i.material, 'w-full my-1 p-1 text-left text-sm bg-zinc-100 hover:bg-zinc-200 rounded': select !== i.material}">
					{{i.mesh }} - {{ i.material}}
				</button>


			</div>

		</div>


	</div>

	<script>
		Vue.createApp({
			data() {
				return {
					engine: null,
					scene: null,
					camera: null,
					GLBfileName: "StarPlayer76X",
					meshList: [],
					select: null,
					color: "#06b6d4",

					currentMeshes: [],

				}
			},

			mounted() {
				// Lấy phần tử
				const canvas = this.$refs.canvas;
				// Tạo Engine
				this.engine = new BABYLON.Engine(canvas, true);
				// Tạo Scene
				const scene = new BABYLON.Scene(this.engine);

				// Tạo Camera
				const camera = new BABYLON.ArcRotateCamera(
					"camera",
					Math.PI / 2,
					Math.PI / 3,
					1,
					BABYLON.Vector3.Zero(),
					scene
				);

				camera.attachControl(this.$refs.canvas, true);
				camera.minZ = 0.001;
				camera.maxZ = 1000;
				camera.wheelPrecision = 500;
				camera.panningSensibility = 15000;
				camera.speed = 0.1;

				// Không cho zoom gần hơn
				camera.lowerRadiusLimit = 0.15;
				// Không cho zoom quá xa
				camera.upperRadiusLimit = 1;

				camera.setPosition(new BABYLON.Vector3(0.2, 0.2, 0.2));

				// Không cho pan quá xa
				const limit = 0.05;
				scene.onBeforeRenderObservable.add(() => {
					camera.target.x = BABYLON.Scalar.Clamp(camera.target.x, -limit, limit);
					camera.target.y = BABYLON.Scalar.Clamp(camera.target.y, -limit, limit);
					camera.target.z = BABYLON.Scalar.Clamp(camera.target.z, -limit, limit);
				});

				// Tạo Light
				new BABYLON.HemisphericLight("light", new BABYLON.Vector3(0, 1, 0), scene);

				// Skybox
				scene.clearColor = new BABYLON.Color4(0.2, 0.2, 0.2, 1);



				//------------------------------------

				this.scene = scene;
				this.camera = camera;

				// Load model GLB
				this.loadModel()

				// Click chọn mesh
				this.scene.onPointerObservable.add((pointerInfo) => {
					if (pointerInfo.type === BABYLON.PointerEventTypes.POINTERPICK) {
						const mesh = pointerInfo.pickInfo.pickedMesh;
						if (mesh && mesh.material) {
							this.select = mesh.material.name
						}
					}
				});


				//--------------------------------------------

				this.engine.runRenderLoop(() => {
					scene.render();
				});

				window.addEventListener("resize", () => {
					this.engine.resize();
				});

			},

			watch: {
				color() {
					const mat = this.scene.getMaterialByName(this.select);
					if (mat) {
						mat.albedoColor = BABYLON.Color3.FromHexString(this.color);

					}
				},
				GLBfileName() {
					if (this.scene) {
						this.loadModel();
					}
				}

			},

			methods: {

				changeMaterial() {
					// Đổi vật liệu
					const quarterMesh = this.scene.getMeshByName("Quarter");
					const laceMaterial = this.scene.getMaterialByName("Lace 6");

					if (quarterMesh && laceMaterial) {
						quarterMesh.material = laceMaterial;
					}

				},

				selectMesh(id) {
					this.select = id
				},

				async loadModel() {

					// Xóa model cũ
					this.currentMeshes.forEach(mesh => {
						if (mesh.material) {
							mesh.material.dispose(true, true);
						}

						if (!mesh.isDisposed()) {
							mesh.dispose();
						}
					});

					this.currentMeshes = [];

					// Load model mới
					const result = await BABYLON.SceneLoader.ImportMeshAsync(
						"",
						"glb/",
						this.GLBfileName + ".glb",
						this.scene
					);

					this.currentMeshes = result.meshes;
					this.meshList = result.meshes
						.filter(mesh => mesh.material)
						.map(mesh => ({
							mesh: mesh.name,
							material: mesh.material.name
						}));
				}

			}


		}).mount("#app");
	</script>
</body>

</html>